* {
    margin: 0px;
    padding: 0px;
}

.mvh {
    width: 100vw;
    height: 10vh;

    background-color: darkblue;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mvh>h1,
.mvh>form {
    display: flex;
    justify-content: center;

}

.mvh>h1 {
    width: 70%;
    align-items: center;
}

.mvh>form {
    width: 30%;
    align-items: left;
}

input[type=date] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.mvcontent {
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: top;  
}

.mvlist, .mvdetail{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mvdetail {
    justify-content: center;
    align-items: top;
    flex-direction: column;
    width: 50%;
    padding: 10px;
    align-items: top;
    height: 100%;
    margin: 60px 0px;
    border: 1px solid gray;
    background-color: aliceblue;
}

.dtdiv {
    width: 100%;
    margin: 10px 0px;
}

.dtsp1 {
    width: 20%;
    display: inline-flex; 
    font-weight: bold;
    color: gray;
    justify-content: right;
}

.dtsp2 {
    width: 80%;
    display: inline-flex;  
    color: blue; 
}

.mvlist {
    width: 100%;
    margin: 10px 0px;
    flex-direction: column;
}

.mvrowtitle01 {
    background-color:cornflowerblue;
    color: white;
}

.rowDiv1, .mvrowtitle01 {
    display: flex;
    width: 50vw;
    height: 50px;
    border-bottom: 1px solid gainsboro;
    justify-content: space-between;
    align-items: center;

}

.rowDiv1:hover,
.rowDiv1:active {
    background-color: yellowgreen;
}

.mvrowtitle01 > span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.mvcol1, .mvcol2, .mvcol3 {
    display: inline-flex;
    border: 10px;
}


.mvcol1 {
    width : 15% ;
    
}

.mvcol2 {
    width : 65% ;
   
}

.mvcol3 {
    width : 20% ;
  
}



