.header {
	/* 기본적으로 중간에 정렬 */
	display: flex;
	/* 디폴트 - row */
	justify-content: center;
	/* 디폴트 = 가로축정렬 */
	align-items: center;
	/* 디폴트 - 세로축정렬 */
	/* 가로와 세로 길이 조정 */
	width: 100vw;
	height: 10vh;
	/* 추가사항 */
	background-color: darkblue;
	color: white;
}

h1 {
	font-size: 5vh;
	/* 같이 줄어들도록 설정. */
}

.main {
	display: flex;
	justify-content: center;
	align-items: top;
	width: 100vw;
	height: 90vh;
	background-color: beige;
}

.Lmain {
	width: 40vw;
	height: 80vh;
	flex-direction: column;
	display: flex;
	justify-content: right;
	align-items: top;
	margin: 20px 10px;
}

.Rmain {
	width: 50vw;
	height: 80vh;
	margin: 10px;
	display: flex;
	justify-content: left;
	align-items: top;
	margin: 10px;
}

.gtitle, .gdata, .selectbar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* 제목 부분을 테두리로 감싸 주었다. */
.gtitle {
	justify-content: top;
	width: 40vw;
	height: 60vh;
	border: 1px solid darkgreen;
}

.gdata {
	justify-content: top;
	width: 400px;
	height: 400px;
	background-color: rgb(139, 139, 167);
	border-radius: 10px;
	margin: 10px;
}

.selectbar {
	justify-content: top;
	width: 40vw;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=text] {
	width: 20vw;
	height: 5vh;
	margin: 8px 0;
	box-sizing: border-box;
}

button {
	border: none;
	background-color: #4CAF50;
	color: white;
	padding: 10px 30px;
	margin: 5px;
	display: inline-flex;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
}

button:hover, button:active {
	background-color: blue;
}

.glist,
.glistSel {
	width: 30vw;
	height: 7vh;
	border: 2px solid gray;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 15px;
}

.glist:hover,
.glist:active,
.glistSel {
	background-color: #d3d3d3;
	font-size: 20px;
	font-weight: bold;
	padding: 5px;
}

/* 제목만 조금 키웠다. */
.galTitle {
	color: crimson;
	font-size: 30px;
	font-weight: bold;
}

/* 그림 크기 설정. */
.galWebImageUrl {
	width: 150px;
	height: 150px;
}

ul {
	list-style: none;
	width: 100%;
}

ul>li {
	width: 25vw;
	display: flex;
	margin: 4px;
	color: navy;
}

select {
	width: 20vw;
	height: 5vh;
	margin: 8px 0;
	box-sizing: border-box;
}