
.header {
	/* 기본적으로 중간에 정렬 */
	display: flex;           /* 디폴트 - row */
	justify-content: center; /* 디폴트 = 가로축정렬 */
	align-items: center;     /* 디폴트 - 세로축정렬 */
	/* 가로와 세로 길이 조정 */
	width: 100vw;
	height: 10vh;  
	/* 추가사항 */
	background-color: darkblue;
	color: white;
}

h1 {
	font-size: 5vh; /* 같이 줄어들도록 설정. */
}

.main { 
	display: flex;
	justify-content: left;
	align-items: top;
	width: 100vw;
	height: 90vh; 
	background-color: beige;
}

.gtitle, .gdata {
	display: flex;
	flex-direction: column;
	justify-content: top;
	align-items: center;
}
/* 제목 부분을 테두리로 감싸 주었다. */
.gtitle {
	width: 40vw;
	height: 80vh;
	border: 1px solid darkgreen;
	margin: 20px;
}

.gdata {
	width: 50vw;
	height: 90vh;
}

.glist, .glistSel {
	width: 30vw;
	height: 7vh;
	border: 2px solid gray;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 15px;
}

.glist:hover, .glist:active, .glistSel{
	color: brown;
	background-color: rgb(170, 169, 169);
	font-size: 20px;
	font-weight: bold;
	padding: 5px;
}
/* 제목만 조금 키웠다. */
.galTitle {
	font-size: 30px;
	font-weight: bold;
}
/* 그림 크기 설정. */
.galWebImageUrl {
	width: 50vw;
	height: 60vh;
}

ul {
	list-style: none;
	width: 100%;
}

ul > li {
	display: flex;
	margin: 4px;
	color: navy;
}