.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: blueviolet;
    color: white;
}

.main {
    display: flex;
    justify-content: center;
    align-items: top;
    width: 100%;
    height: 100vh;
    background-color: beige;
    margin: 0px;
}

h1 {
	font-size: 5vh;
	/* 같이 줄어들도록 설정. */
}

.whdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 5vh;
}

.w1div {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sp0, .sp1, .sp2 {
	display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1em;
    border-bottom: 1px solid gray;
}

.sp0 {
    width: 30%;
    justify-content: right;
}

.sp1 {
    width: 40%;
    justify-content: center;
}

.sp2 {
    width: 30%;
    justify-content: left;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    border: 1px solid gray;
    width: 100px;
    list-style-type: none;
    padding: 20px;
    margin: 30px;
}

